#################
## CMake
#################
CMakeCache.txt

#################
## Clion
#################
.idea
cmake-build-*

#################
## Visual Studio
#################
.vs
CMakeSettings.json